In [1]:
import mysql.connector 

from bs4 import BeautifulSoup

import requests

import csv

import pandas as pd

db =  mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Kartik@21bce105",
    database="MOVIES"
)

print(db)

cursorObject=db.cursor()


movieTable= """CREATE TABLE MOVIES250(  
               RANKNUMBER int NOT NULL ,  
               TITLE varchar(45) NOT NULL,  
               YEAR varchar(35) NOT NULL,  
                RATING FLOAT NOT NULL,  
               PRIMARY KEY (RANKNUMBER)  
               ); """

#cursorObject.execute(movieTable)



'''mycursor=db.connect()
cursor=db.cursor()

    

cursor=db.cursor()
cursor.executemany(query, all_values)
db.commit()
        

'''
a=requests.get('https://www.imdb.com/chart/top/')

soup=BeautifulSoup(a.text,'html.parser')

a=soup.find('tbody',class_='lister-list').find_all('tr')

rank1=[]
title1=[]
year1=[]
rating1=[]

c=0;

for rank in a:
    rank=rank.find('td',class_='titleColumn')
    rank1.append(int(rank.text.strip()[:4].strip().replace('.','').strip()))
    c+=1
    
for title in a:
    title=title.find('td',class_='titleColumn').find('a')
    title1.append(title.text)
    
for year in a:
    year=year.find('td',class_='titleColumn').find('span')
    year1.append(int(year.text[1:5]))
    
for rating in a:
    rating=rating.find('td',class_='ratingColumn imdbRating').find('strong')
    rating1.append(float(rating.text.strip()))

    


values=[]

for i in range(1):
        values=((int(rank1[i]),title1[i],year1[i],float(rating1[i])))
    





Query="insert into MOVIES250(RANKNUMBER, TITLE, YEAR, RATING) VALUES (%d, %s, %s, %f)"

cursorObject.executemany(Query, values)

db.commit()

db.close()

k={
    'Rank':rank1,
    'Title':title1,
    'Year':year1,
    'Rating':rating1
}

df=pd.DataFrame(k)

a=df.loc[:,['Rank','Title','Rating','Year']]
a.to_csv('abc.csv',index=False)

print(a)

ModuleNotFoundError: No module named 'mysql'